<div id="<%= dom_id reminder %>">
      <tr>
      <td><%= reminder.name %></td>
      <td><%= reminder.date %></td>
      <td><%= reminder.hour %></td>
      <td><%= reminder.period %></td>
      <td><%= reminder.recurrence %></td>
      <td><%= reminder.active %></td>
      </tr>
</div>