</br>
<div class="container">
<div class="card" style="width: 300px; margin: auto;">
<div class="card-body">
<h5 class="card-title">Log in</h5>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <form class="text-center">
  <div class="mb-4">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
  <div class="mb-4">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>
  <div class="mb-4 form-check">
  <% if devise_mapping.rememberable? %>
    <%= f.check_box :remember_me, class: "form-check-input" %>
    <%= f.label :remember_me, class: "form-check-label" %>
  <% end %>
  </div>
  <button type="submit" class="w-100 btn btn-lg btn-primary">Log In</button>
</form>
<% end %>
</div>
</div>
</div>
<%= render "devise/shared/links" %>
</div>
